numpy
pandas
scipy
#pytorch
sympy
matplotlib
plotly
scikit-learn
statsmodels
pdf2image
pytesseract
PyPDF2
transformers
torch
spacy 
layoutparser
tesseract
sentence_transformers
regex
nltk
reportlab
#json
streamlit